<!DOCTYPE html>
<html lang="en">
  <head>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/bootstrap.css"/>
  <link rel="icon" th:href="@{/image/springE.ico}" sizes="16x16 32x32" type="image/ico">
  <script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>
  <script th:src="@{/js/bootstrap.js}"src="../static/js/bootstrap.js"></script>
  <title>Spring Boot Test</title>
  
	<style>
	   .btn-primary {
	   	 background-color:#5fb832;
	     border: #5fb832;
	    }
	   .btn-primary:hover, .btn-primary:focus,.btn-primary:active, .open>
	   .dropdown-toggle.btn-primary{
			
		 background-color:rgb(0, 128, 0);
	     border: rgb(0, 128, 0);
		}
		.card{
			transition:all 0.3s;
		}
		.card:hover{
			transform:scale(1.15);
			
		}
		
		.navbar-brand img{
			width:172px;
			height:50px;
		}
		.jumbotron{
			height: 66vh;
		}
		
	</style>
    
  </head>
  <body>
    <!--NavBar menu features-->
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #5fb832;">
    
    <!--ICON IMAGE PROCESS -->
     <a class="navbar-brand" th:href="@{/home/}"> <img th:src="@{/image/springC.png}" alt="..."></a>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <!--NavBar options-->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" th:href="@{/home/postNew}" href="#">New Card</a>
          <a class="nav-item nav-link"  th:href="@{/}" >Data</a>
          <a class="nav-item nav-link" th:href="@{/}" href="#">Products</a> 
        </div>
      </div>
    </nav>

      <div class="jumbotron">
        <h3 th:text=${post.title} class="text-center display-5"></h3>
                  <hr class="my-2">
          

      <div class="container">
        <div class="row gy-3 my-3">

          <!--Cards for-each -->
          <div th:each="post : ${posts}" class="col-sm-6 col-md-4 col-lg-3">
            <div class="card" style="width: 16rem;">
              <img th:src="${post.urImg}" width="50px" height="180px" src="../static/image/post.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 th:text="${post.title}" class="card-title">POST</h5>
                <p th:text="${post.desciption}" class="card-text">The POST method submits an entity to the specified resource.</p>
                <a href="#" class="btn btn-primary">GO!</a>
              </div>
            </div>
          </div>
        </div> 
      </div>  
    <br/>
  </body>
</html>